name: Validate issue title

on:
  issues:
    types: [opened, edited]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Validate issue title
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - env:
          NAME: ${{ github.event.issue.title }}
        run: |
          {
            echo 'VALERR<<EOF'
            echo "$(deno run './src/validate-issue-title.ts' "${name}" 2>&1 >/dev/null)"
            echo EOF
          } >> "$GITHUB_ENV"
      - if: ${{ env.VALERR != '' && contains(github.event.issue.labels.*.name, 'checks/invalid-issue-title') != true }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          NUMBER: ${{ github.event.issue.number }}
          VALERR: ${{ env.VALERR }}
        run: >
          gh issue comment "${NUMBER}" --body "âŒ The issue title is not in a valid format: \`\`\`${VALERR}\`\`\`" && gh issue edit "${NUMBER}" --add-label 'checks/invalid-issue-title'
      - if: ${{ env.VALERR == '' && contains(github.event.issue.labels.*.name, 'checks/invalid-issue-title') == true }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          NUMBER: ${{ github.event.issue.number }}
        run: >
          gh issue edit "${NUMBER}" --remove-label 'checks/invalid-issue-title'