name: Validate issue title

on:
  issues:
    types: [opened, edited]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Validate issue title
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          NAME: ${{ github.event.issue.title }}
          NUMBER: ${{ github.event.issue.number }}
        run: >
          ERR="$(deno run './src/validate-issue-title.ts' "${name}" 2>&1 >/dev/null)";
      - if: "${ERR}" != '' && contains(github.event.issue.labels.*.name, 'checks/invalid-issue-title') != true
        run: >
          gh issue comment "${NUMBER}" --body "âŒ This issue title is not in a valid format: ```${ERR}```" && gh issue edit "${NUMBER}" --add-label 'checks/invalid-issue-title'
      - if: "${ERR}" == '' && contains(github.event.issue.labels.*.name, 'checks/invalid-issue-title') == true
        run: >
          gh issue edit "${NUMBER}" --remove-label 'checks/invalid-issue-title'